header.header
    a(href="index.html" target="_self").header__link
        img(src="static/images/content/logo.svg" width="72" height="27" alt="Simple").header__link-logo
    button(type="button").header__btn Слушать
        svg.header__btn-icon
            use(xlink:href="static/images/sprite/symbol/sprite.svg#play") 