dialog.age
    button(type="button").age__closer
    h2.age__title 18+
    p.age__about Сайт содержит информацию, не рекомендованную для лиц, не достигших совершеннолетнего возраста.
    p.age__about Сведения, размещённые на сайте, носят исключительно информационный характер и предназначены только для личного использования.

    button(type="submit").age__submit Мне исполнилось 18 лет