ul.content
    li.content__item 
        .content__frame
            iframe(frameborder="0" style="border:none;width:100%;height:450px; background: transparent;" width="100%" height="450" src="https://music.yandex.ru/iframe/album/1904") Слушайте 
                a(href='https://music.yandex.ru/album/1904') Pac's Life
                | — 
                a(href='https://music.yandex.ru/artist/12741') 2Pac
                | на Яндекс Музыке
        .content__info
            h3.content__name Simple Date night
            p.content__about Плейлист для идеального свидания, в котором обязательно найдётся место для бокала утончённого красного. Звучащий в нем соул такой же тёплый, чувственный и романтичный, как выдержанное бордо или пряный австралийский шираз. В этом плейлисте есть классические, хорошо узнаваемые мелодии о любви, современные композиции, а также стильные кавер-версии культовых песен.
    li.content__item 
        .content__frame
            iframe(frameborder="0" style="border:none;width:100%;height:450px;" width="100%" height="450" src="https://music.yandex.ru/iframe/album/1082359") Слушайте 
                a(href='https://music.yandex.ru/album/1904') Pac's Life
                | — 
                a(href='https://music.yandex.ru/artist/12741') 2Pac
                | на Яндекс Музыке
        .content__info
            h3.content__name Simple Sparkling party
            p.content__about Плейлистдля домашней вечеринки, на которой звучат диско, ню-диско, диско-фанк и рекой льётся любимое игристое. Этот сборник — настоящий подарок для меломана: в нем идеально выверен баланс культовых треков и новинок с актуальным звучанием. Активный, яркий, праздничный — совсем как ледяное просекко или только что открытая кава.
    li.content__item 
        .content__frame
            iframe(frameborder="0" style="border:none;width:100%;height:450px;" width="100%" height="450" src="https://music.yandex.ru/iframe/album/1829853") Слушайте 
                a(href='https://music.yandex.ru/album/1904') Pac's Life
                | — 
                a(href='https://music.yandex.ru/artist/12741') 2Pac
                | на Яндекс Музыке
        .content__info
            h3.content__name Simple Self-love
            p.content__about Этот задумчивый, расслабляющий, чувственный плейлист создан для отдыха, умиротворения или поиска вдохновения. Наполнен лёгкими треками в стиле даун темпо-электроник, нео-соул и инд троника. Отлично слушается под бокал пронзительного яблочно-морского совиньона или ароматного цветочного гевюрцтраминера.