.intro
    .intro__info    
        .intro__info-wrap
            img(src="static/images/content/intro-m.svg" width="" height="" alt="").intro__info-img

    .intro__details
        p.intro__description Вино и музыка — идеальное сочетание! И то, и другое — это настоящее искусство; и то, и другое умеет создавать уникальную атмосферу и открывать новое!
        img(src="static/images/content/player.svg" width="" height="" alt="").intro__visual
    a(href="#" target="_self").intro__link