section.listen
    h2.listen__title Слушай с Simple 
    p.listen__about Мы подобрали идеальный аккомпанемент к вашим поводам, приготовили три уникальных тематических плейлиста с подобранными специально для ваших праздников треками.

    .listen__visual
        img(src="static/images/content/player.svg" width="" height="" alt="").listen__visual-img