section.share
    h2.share__title Делись с миром хорошим настроением
    p.share__about Делись с ним нашей музыкой — и не забудь рассказать о проекте Simple своим друзьям!

    ul.share__list
        li.share__item
            a(href="#" target="_self").share__link.share__link--vk
                svg
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#vk") 
        li.share__item
            a(href="#" target="_self").share__link.share__link--tg
                svg
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#tg") 
        li.share__item
            a(href="#" target="_self").share__link.share__link--in
                svg
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#in") 
        li.share__item
            a(href="#" target="_self").share__link.share__link--share
                svg
                    use(xlink:href="static/images/sprite/symbol/sprite.svg#share") 