// Colors
$white: #ffffff;
$black: #141414;
$blue: #2E00E4;
$hover-btn : #C8CEE5;
$purple: #6823D1;
$violet: #B391E8;
$gray: #5E6271;
$green: #BCFF5E;
$lightgray: #F4F6FD;
$pink: #FE198F;
// Sizes
$base-font-size: 16;
// Fonts
$primary-font: 'GraphikLCG';
// Padding
$lg-padding: calc((100% - 1320px) / 2);
$text-black: $black;
$text-white: $white;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);


// $blue: #0078D2;
// $brightBlue: #0091ff;
// $lightBlue: #F2F8FD;
// $border: 1px solid #cbd9e0;
// $dark: #00152E;
// $dark2: #002033;
// $grey: #667985;
