footer.footer
    h2.footer__title Наши проекты
    ul.footer__list
        li.footer__item
            a(href="" target="_self").footer__link
                img(src="static/images/content/simple.svg" width="" height="" alt="").footer__link-img
                p.footer__about Официальный сайт Группы Компаний
        li.footer__item
            a(href="" target="_self").footer__link
                img(src="static/images/content/simplewinenews.svg" width="" height="" alt="").footer__link-img
                p.footer__about Рассказываем просто о лучшем вине
        li.footer__item
            a(href="" target="_self").footer__link
                img(src="static/images/content/enotria.svg" width="" height="" alt="").footer__link-img
                p.footer__about Одна из лучших школ сомелье
        li.footer__item
            a(href="" target="_self").footer__link
                img(src="static/images/content/simpletravel.svg" width="" height="" alt="").footer__link-img
                p.footer__about Эногастрономические путешествия